.aboutcontainer{
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    border-radius: 25px;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: white;
    border: solid 10px #1a4f6e;
    box-shadow: 10px 5px 5px grey;

}


.about-body{
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    border-radius: 25px;
    /* background: rgb(0, 0, 0, 0.5); */
    height: 800px;
    border: solid 10px #1a4f6e;
    box-shadow: 10px 5px 5px grey;
}
body{
    margin:0;
    padding: 0;
    
  }
 .about-ul{
    position: relative;
    left: 50%;
    transform:translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
  }
  ul .about-li{
    list-style: none;
    color:  white;
    font-family: arial;
    font-size: 60px;
    letter-spacing: 15px;
    animation: ani 2.4s linear infinite;

  }
  @keyframes ani {
    0%{
      color: black;
      text-shadow: none;
    }
    50%{
      color: gray;
      text-shadow: none;
    }
    100%{
      color: midnightblue;
      text-shadow: 0 0 7px #fff900,0 0 50px #1a4f6e;
    }
  }
  ul li:nth-child(1){
    animation-delay: .2s;
  }
  ul li:nth-child(2){
    animation-delay: .4s;
  }
  ul li:nth-child(3){
    animation-delay: .8s;
  }
  ul li:nth-child(4){
    animation-delay: 1s;
  }
  ul li:nth-child(5){
    animation-delay: 1.2s;
  }
  ul li:nth-child(6){
    animation-delay: 1.4s;
  }
  ul li:nth-child(7){
    animation-delay: 1.6s;
  }
  ul li:nth-child(8){
    animation-delay: 1.8s;
  }
  ul li:nth-child(9){
    animation-delay: 2s;
  }
  ul li:nth-child(10){
    animation-delay: 2.2s;
  }
  ul li:nth-child(11){
    animation-delay: 2.4s;
  }

  