.eventsearch{
   margin-top: 5%;
   margin-left: 10%;
   margin-bottom: 2%;
}

.eventsearchbar{
    width: 80%;
}

.eventcard{
    float: left;
    padding: 2%;
    margin: 2%;
    font-size: 25px;
    border: skyblue 2px solid;
    width: 500px;
}

.eventtitle{
    font-size: 30px;
}

.eventcontainer{
    margin: 5%;
}