body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: lightgrey;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('/asset/images/coffe-cup.jpg');
  min-height: 900px;
}

.pimg2 {
  background-image: url('/asset/images/resources.jpg');
  min-height: 200px;
}

.pimg3 {
  background-image: url('/asset/images/articles.jpg');
  min-height:0px;
}

.pimg5 {
  background-image: url('/asset/images/coding.jpg');
  min-height: 0px;
}

.section {
  text-align: center;
  padding: 50px 80px;
  -webkit-box-shadow: inset -5px 0px 124px -30px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: inset -5px 0px 124px -3px rgba(0, 0, 0, 0.75); 
  /* box-shadow: inset -5px 0px 124px -3px rgba(0, 0, 0, 0.75); */
}

.section-light {
  background-color: #f4f4f4;
  color: lightgrey;
}

.section-dark {
  background-color: lightgrey;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: transparent;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

/* @media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
} */


.about-font{
  color: #1a4f6e;
}

.about-logo{
  width: 200px;

}

.front-title{
  color:  #1a4f6e;
  border: solid 2px whitesmoke;
  padding: 2%;
  font-weight: 500;
}

.frontpage-section{
  border: 100px;
  padding: 10%;
  padding-top: 5px;
  height: 500px;
}