body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.eventcard{
  font-size: 20px;
  float: left;
  width: 500px;
  margin: 2%;
  height: 300px;
}
.eventtitle{
  font-size: 30px;
  padding: 3%;
}