body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  /* background: url("https://cdn.hipwallpaper.com/i/5/57/WD3Ge9.jpg"); */
  height: 1000px;
  /* background: url('/asset/images/logo.jpg'); */
  height: 100%;
  width: 100%;
  margin-bottom: 200px;
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: sans-serif;
  overflow-x: hidden;
  color: black;
}

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}

h2 {
  margin: 0;
  padding: 0 0 20px;
  color: #408cef;
  text-align: center;
}

.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #408cef;
  cursor: pointer;
  border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
  background: rgb(255, 255, 255);
  color: #262626;
}
